<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grocery Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-list>
      <ion-item-sliding>
        <ion-item>
          <h2>Strawberries</h2>
          <p>Quantity: 1</p>
          <p>Aisle:13</p>
        </ion-item>
        <ion-item-options>
          <button ion-button color="secondary" icon-start>
            <ion-icon name="trash"></ion-icon>
            Done
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
          <ion-item>
            <h2>Bananas</h2>
            <p>Quantity: 2</p>
            <p>Aisle: 14</p>
          </ion-item>
          <ion-item-options>
            <button ion-button color="secondary" icon-start>
              <ion-icon name="trash"></ion-icon>
              Done
            </button>
          </ion-item-options>
        </ion-item-sliding>  
        <ion-item-sliding>
          <ion-item>
            <h2>Pasta</h2>
            <p>Quantity: 6</p>
            <p>Aisle: 7</p>
          </ion-item>
          <ion-item-options>
            <button ion-button color="secondary" icon-start>
              <ion-icon name="trash"></ion-icon>
              Done
            </button>
          </ion-item-options>
        </ion-item-sliding>  
</ion-list>      
</ion-content>